<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- import CSS -->
    <link href="./src/css/normalize.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/element-ui/2.3.8/theme-chalk/index.css" rel="stylesheet">
    <link href="./src/css/app.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!--[if lte IE 8]>
    <p class="browserupgrade">您的浏览器版本老的可笑, 请到 <a href="http://browsehappy.com/">这里</a> 更新, 以获取最佳的体验</p>
    <![endif]-->
        <!-- 页面结构 头部（顶部导航-二级导航） 中部（交易金额-轮播图-网站介绍-网站公告-产品介绍）底部（链接-版权）-->
        <!-- class 命名一般都是使用中横线分割  id一般采用的是驼峰命名 -->
        <!--头部  -->
        <header>
            <nav class="top">
                <span class="tel pull-left">现在时间是：
                    <span>{{nowDate}}</span>
                </span>
                <ul class="text-right">
                    <li>
                        <a href="#" @click="userLoginHandler">登录</a>
                    </li>
                    <li>
                        <a href="#" @click="userRegisterHandler">免费注册</a>
                    </li>
                    <li>
                        <a href="#" @click="aboutSiteHandler">关于</a>
                    </li>
                    <li>
                        <a href="#" @click="helpHandler">帮助</a>
                    </li>
                    <li>
                        <a href="#" title="保存之后，妈妈再也不用担心我找不到网址了！" @click="saveDeskHandler">保存到桌面</a>
                    </li>
                </ul>
            </nav>
            <nav class="main">
                <!-- 此处两种方式  一个是使用直接潜入到结构中，还有一种是背景图片，一般logo的话 是使用img标签 -->
                <a href="#" class="brand pull-left">
                    <img src="./src/imgs/logo@1x.png" alt="回到首页">
                </a>
                <ul class="text-right">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#vipCenter" @click="vipCenterHandler">会员中心</a>
                    </li>
                    <li>
                        <a href="#worldKB">全国空包</a>
                    </li>
                    <li>
                        <a href="#mobileCollege">无线流量</a>
                    </li>
                    <li>
                        <a href="#mobileCollege">宝贝收藏</a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="helpHandler">联系客服</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- 中间内容 根据规范，section和article都需要有标题 -->
        <div class="container">
            <!-- 交易信息 -->
            <div class="transaction clearfix">
                <div class="trans-content">
                    <div class="trans-data pull-left text-left">
                        <span>平台累计成交金额</span>
                        <span class="trans-money">8888</span>
                        <span>万元</span>
                    </div>
                    <div class="trans-data pull-left text-left">
                        <span>过去7日成交金额</span>
                        <span class="trans-money">18888</span>
                        <span>万元</span>
                    </div>
                    <div class="trans-report pull-right">
                        <a href="#" @click.prevent="viewOperationReportHandler">查看平台运营报告</a>
                    </div>
                </div>
            </div>
            <!-- 广告轮播图 -->
            <div class="ad" v-if="!visibleVipCenter">
                <el-carousel height="360px" trigger="click">
                    <el-carousel-item>
                        <img src="./src/imgs/ad001-l.png" alt="轮播图1">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="./src/imgs/ad002-l.png" alt="轮播图2">
                    </el-carousel-item>
                    <el-carousel-item>
                        <img src="./src/imgs/ad003-l.png" alt="轮播图3">
                    </el-carousel-item>
                </el-carousel>
            </div>
            <!-- 网站功能介绍 -->
            <section class="feature">
                <div class="item">
                    <h3 class="text-center">
                        安全
                    </h3>
                    <p>实名小号
                        <br/>真实搜索
                        <br/> 真实操作
                    </p>
                </div>
                <div class="item">
                    <h3 class="text-center">
                        省心
                    </h3>
                    <p>任意金额购买
                        <br/>最好的售后
                        <br/>让你无忧购买
                    </p>
                </div>
                <div class="item">
                    <h3 class="text-center">
                        权威
                    </h3>
                    <p>全国不同IP
                        <br/>保证100%不会被清洗
                        <br/>商品种类丰富
                    </p>
                </div>
            </section>
            <!-- 公告 -->
            <div class="notice clearfix">
                <a href="#" class="pull-left text-ellipsis">
                    <span>2018-5-19</span>
                    元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受 理及值班公告元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受理及值班公告
                </a>
                <a href="#" class="more pull-right" @click="moreNoticeHandler">更多公告</a>
            </div>
            <!-- 产品 -->
            <section class="product clearfix" id="mobileCollege" v-if="!visibleVipCenter">
                <h2 class="pull-left text-center">
                    无线流量&宝贝收藏
                    <em>实名小号</em>
                    <em>真实搜索</em>
                    <em>真实操作</em>
                </h2>
                <div class="product-content pull-right">
                    <div class="item clearfix">
                        <h3>
                            <em>宝贝</em>任务
                            <i>
                                <el-select v-model="bbTaskSelected" placeholder="请选择快递平台" size="mini">
                                    <el-option v-for="(bb,index) in bbTask" :label="bb.name" :value="bb.id" :key="index">
                                    </el-option>
                                </el-select>
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    {{bbTask[bbTaskSelected].price.ptvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    {{bbTask[bbTaskSelected].price.vip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    {{bbTask[bbTaskSelected].price.jpvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#">立即涨粉</a>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <h3>
                            <em>店铺</em>任务
                            <i>
                                <el-select v-model="dpTaskSelected" placeholder="请选择快递平台" size="mini">
                                    <el-option v-for="(dp,index) in dpTask" :label="dp.name" :value="dp.id" :key="index">
                                    </el-option>
                                </el-select>
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    {{dpTask[dpTaskSelected].price.ptvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    {{dpTask[dpTaskSelected].price.vip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    {{dpTask[dpTaskSelected].price.jpvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#">立即涨粉</a>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <h3>
                            <em>京东</em>任务
                            <i>
                                <el-select v-model="jdTaskSelected" placeholder="请选择快递平台" size="mini">
                                    <el-option v-for="(jd,index) in jdTask" :label="jd.name" :value="jd.id" :key="index">
                                    </el-option>
                                </el-select>
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    {{jdTask[jdTaskSelected].price.ptvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    {{jdTask[jdTaskSelected].price.vip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    {{jdTask[jdTaskSelected].price.jpvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#">立即涨粉</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 产品 -->
            <section class="product clearfix" id="vipCenter" v-if="!visibleVipCenter">
                <h2 class="pull-left text-center">
                    全国空包
                    <em>全国发全国</em>
                    <em>提供底单</em>
                    <em>安全无忧</em>
                </h2>
                <div class="product-content pull-right">
                    <div class="item clearfix">
                        <h3>
                            <em>淘宝</em>平台
                            <i>
                                <el-select v-model="tbKBSelceted" placeholder="请选择快递平台" size="mini">
                                    <el-option v-for="(tb,index) in tbKB" :label="tb.name" :value="tb.id" :key="index">
                                    </el-option>
                                </el-select>
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    {{tbKB[tbKBSelceted].price.ptvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    {{tbKB[tbKBSelceted].price.vip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    {{tbKB[tbKBSelceted].price.jpvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#">立即下单</a>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <h3>
                            <em>京东</em>平台
                            <i>
                                <el-select v-model="jdKBSelceted" placeholder="请选择快递平台" size="mini">
                                    <el-option v-for="(jd,index) in jdKB" :label="jd.name" :value="jd.id" :key="index">
                                    </el-option>
                                </el-select>
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    {{jdKB[jdKBSelceted].price.ptvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    {{jdKB[jdKBSelceted].price.vip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    {{jdKB[jdKBSelceted].price.jpvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#">立即下单</a>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <h3>
                            <em>拼多多</em>平台
                            <i>
                                <el-select v-model="pddKBSelceted" placeholder="请选择快递平台" size="mini">
                                    <el-option v-for="(pdd,index) in pddKB" :label="pdd.name" :value="pdd.id" :key="index">
                                    </el-option>
                                </el-select>
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    {{pddKB[pddKBSelceted].price.ptvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    {{pddKB[pddKBSelceted].price.vip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    {{pddKB[pddKBSelceted].price.jpvip}} 元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#" @click.prevent="buyHandler">立即下单</a>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <h3>
                            <em>圆通-韵达</em>（推荐）
                            <i>
                                全网通用「21点前下单，2小时揽件」
                            </i>
                        </h3>
                        <div class="info">
                            <p>
                                普通会员：
                                <span class="year-rate">
                                    2.1元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                VIP会员：
                                <span class="year-rate">
                                    2.0元
                                    <i>单</i>
                                </span>
                            </p>
                            <p>
                                金牌代理商：
                                <span class="year-rate">
                                    1.9元
                                    <i>单</i>
                                </span>
                            </p>
                        </div>
                        <div class="buy">
                            <a href="#">立即下单</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 会员中心的内容 -->
            <section class="product clearfix" v-if="visibleVipCenter">
                <el-row class="tac">
                    <el-col :span="3">
                        <el-card :body-style="{ padding: '0px' }">
                            <img src="./src/imgs/logo@1x.png">
                            <div style="padding: 14px;" class="text-center">
                                <p>亲爱的「aaa」</p>
                                <p>欢迎来到178科技网</p>
                                <p>当前账户余额：100元</p>
                            </div>
                        </el-card>
                        <el-menu default-active="tbKB" @select="menuSelectHandler">
                            <el-submenu index="1">
                                <template slot="title">
                                    <i class="el-icon-upload"></i>
                                    <span>全国空包专区</span>
                                </template>
                                <el-menu-item index="manageAddress">添加/管理发货地</el-menu-item>
                                <el-menu-item index="tbKB">淘宝下单</el-menu-item>
                                <el-menu-item index="jdKB">京东下单</el-menu-item>
                                <el-menu-item index="pddKB">拼多多下单</el-menu-item>
                                <el-menu-item index="excelKB">Excel表格下单</el-menu-item>
                                <el-menu-item index="ytKB">圆通-韵达（推荐）</el-menu-item>
                                <el-menu-item index="orderRecored">下单记录</el-menu-item>
                            </el-submenu>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-phone-outline"></i>
                                    <span>无线流量专区</span>
                                </template>
                                <el-menu-item index="2-1">宝贝任务</el-menu-item>
                                <el-menu-item index="2-2">店铺任务</el-menu-item>
                                <el-menu-item index="2-3">京东任务</el-menu-item>
                                <el-menu-item index="2-4">任务记录</el-menu-item>
                            </el-submenu>
                            <el-submenu index="3">
                                <template slot="title">
                                    <i class="el-icon-setting"></i>
                                    <span>账号设置</span>
                                </template>
                                <el-menu-item index="3-1">修改密码</el-menu-item>
                                <el-menu-item index="3-2">会员升级</el-menu-item>
                                <el-menu-item index="3-3">修改资料</el-menu-item>
                            </el-submenu>
                            <el-submenu index="4">
                                <template slot="title">
                                    <i class="el-icon-tickets"></i>
                                    <span>财务管理</span>
                                </template>
                                <el-menu-item index="4-1">在线支付</el-menu-item>
                                <el-menu-item index="4-2">资金明细</el-menu-item>
                                <el-menu-item index="4-3">提现记录</el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                    <el-col :span="12" :offset="2" v-if="isKBBuy">
                        <el-form ref="kb-buy-form-ele" :model="kbBuyForm" style="padding:24px;" :rules="kbBuyFormRules" label-position="top" size="small"
                            status-icon @submit.native.prevent>
                            <h3>「{{plantform}}」空包下单</h3>
                            <el-form-item label="选择快递" prop="kdType">
                                <el-select v-model="kbBuyForm.kdType" placeholder="请选择快递公司" style="width:100%;">
                                    <el-option v-for="(tb,index) in kdTypeKB" :label="tb.name" :value="tb.id" :key="index"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="发货地址" prop="toAddress">
                                <el-select v-model="kbBuyForm.toAddress" placeholder="请选择发货地址" style="width:100%;">
                                    <el-option label="发货地址1" value="shanghai"></el-option>
                                    <el-option label="发货地址2" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="包裹重量（kg）" prop="packageWeight">
                                <el-input type="age" v-model.number="kbBuyForm.packageWeight" auto-complete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="收件人信息" prop="toUserInfo">
                                <el-input type="textarea" rows="10" placeholder="例子：张三，13688888888 ，广东省 深圳市 罗湖区 深南大道102号，518000" v-model="kbBuyForm.toUserInfo"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button>检查格式是否正确</el-button>
                                <el-button type="primary" @click="onSubmitHandler">立即下单</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="5" style="padding:24px;" v-if="isKBBuy">
                        <el-card class="box-card" shadow="hover">
                            <div slot="header" class="clearfix text-center">
                                <span style="color:#f90;">快递信息预览「{{kdTypeKB[kbBuyForm.kdType].alias}}」</span>
                            </div>
                            <div class="text item">
                                普通会员：{{kdTypeKB[kbBuyForm.kdType].price.ptvip}} 元/单
                            </div>
                            <div class="text item">
                                vip会员：{{kdTypeKB[kbBuyForm.kdType].price.vip}} 元/单
                            </div>
                            <div class="text item">
                                金牌代理商：{{kdTypeKB[kbBuyForm.kdType].price.jpvip}} 元/单
                            </div>
                            <div class="text item">
                                有无底单：有
                            </div>
                            <div class="text item">
                                申请底单：12小时内
                            </div>
                            <div class="text item">
                                底单收费：免费 + 内网
                            </div>
                            <div class="text item">
                                签收时间：2 - 3 天
                            </div>
                            <div class="text item">
                                物流显示时间：21点前下单，次日中午之前显示 {{kdTypeKB[kbBuyForm.kdType].alias}}官网和淘宝都有记录，只用在淘宝，不同步{{kdTypeKB[kbBuyForm.kdType].alias}}官网
                            </div>
                        </el-card>
                        <el-card class="box-card" shadow="hover" style="margin-top:64px;">
                            <div slot="header" class="clearfix text-center">
                                <span style="color:#f90;">下单注意事项</span>
                            </div>
                            <div class="text item">
                                1，提交前先点击「检查格式正确按钮」检验地址是否正确
                            </div>
                            <div class="text item">
                                2，收件人信息栏一次最多输入「500」条信息
                            </div>
                            <div class="text item">
                                3，收件人信息栏的格式「姓名，手机，省（空格）市（空格）县区（空格）详细地址，邮编」，严格按照格式要求来，三个逗号，三个空格，一个都不要少，也不能多
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="14" :offset="1" v-if="!isKBBuy" style="padding:24px;">
                        <el-table :data="addressData" style="width: 100%">
                            <el-table-column prop="fromName" label="发件人姓名" width="180">
                            </el-table-column>
                            <el-table-column prop="fromPhone" label="发货人电话" width="180">
                            </el-table-column>
                            <el-table-column prop="fromAddress" label="收件人所在区域">
                            </el-table-column>
                            <el-table-column prop="fromDetailAddress" label="收件人详细地址">
                            </el-table-column>
                            <el-table-column fixed="right" label="操作" width="100">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small" @click="editAddreassHandler(scope.row)">编辑</el-button>
                                    <el-button @click="deleteAddressHandler(scope.row)" type="text" size="small">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                    <el-col :span="5" v-if="!isKBBuy" style="padding:24px;">
                        <el-card class="box-card" shadow="hover">
                            <div slot="header" class="clearfix text-center">
                                <span style="color:#f90;">注意事项</span>
                            </div>
                            <div class="text item">
                                1， 请正确的填写发货信息,因为发货信息错误而导致物流对不上,不负责
                            </div>
                            <div class="text item">
                                2，如出现缺少地区，请及时联系客服添加
                            </div>
                            <div style="padding: 14px;">
                                <div class="bottom clearfix">
                                    <el-button type="primary" @click="addAddressHandler">立即添加</el-button>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </section>
            <!-- 底部导航 -->
            <nav class="footer">
                <div class="footer-content clearfix">
                    <!-- 此处的logo不需要链接，直接使用css处理 -->
                    <p class="brand pull-left"></p>
                    <ul>
                        <li class="title">
                            关于我们
                        </li>
                        <li>
                            <a href="#">公司介绍</a>
                        </li>
                        <li>
                            <a href="#">业务模式</a>
                        </li>
                        <li>
                            <a href="#">合作机构</a>
                        </li>
                        <li>
                            <a href="#">服务协议</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="title">
                            风险防范
                        </li>
                        <li>
                            <a href="#">账户安全</a>
                        </li>
                        <li>
                            <a href="#">安全保障</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="title">
                            理财产品
                        </li>
                        <li>
                            <a href="#">固定期限</a>
                        </li>
                        <li>
                            <a href="#">债券/散标</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="title">
                            交易帮助
                        </li>
                        <li>
                            <a href="#">购买</a>
                        </li>
                        <li>
                            <a href="#">赎回</a>
                        </li>
                        <li>
                            <a href="#">提现</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="title">
                            机构服务
                        </li>
                        <li>
                            <a href="#">机构中心</a>
                        </li>
                        <li>
                            <a href="#">合作联系</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- 底部 -->
        <footer>
            <ul class="text-center">
                <li>
                    <span class="icon icon-zfywxkz">支付业务许可证</span>
                </li>
                <li>
                    <span class="icon icon-pcirk">PIC认证</span>
                </li>
                <li>
                    <span class="icon icon-visayz">VISA验证</span>
                </li>
                <li>
                    <span class="icon icon-vsjmfw">Versign加密服务</span>
                </li>
                <li>
                    <span class="icon icon-wlgs">网络工商</span>
                </li>
                <li>
                    <span class="icon icon-rzcx">电子商务协会认证诚信网</span>
                </li>
                <li>
                    <span class="icon icon-bjgs">北京工商</span>
                </li>
            </ul>
            <p class="text-center">178178科技网公司版权所有 @2016-2018 QQ群1：84152556（满）， QQ群2：487845121（满）QQ群3：457845121（推荐）</p>
        </footer>
        <!-- 用户登录模态框 -->
        <el-dialog title="用户登录" :visible.sync="dialogLoginVisible" width="30%">
            <el-form :model="loginForm" ref="loginFormEle" :rules="loginFormRules" status-icon>
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="loginForm.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="loginForm.password" auto-complete="off" type="password"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogLoginVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirmLoginHandler('loginFormEle')">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 用户注册模态框 -->
        <el-dialog title="免费注册" :visible.sync="dialogRegisterVisible" width="30%">
            <el-form :model="registerForm" ref="registerFormEle" :rules="registerFormRules" status-icon>
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="registerForm.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="registerForm.password" auto-complete="off" type="password"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="confirmPassword">
                    <el-input v-model="registerForm.confirmPassword" auto-complete="off" type="password"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogRegisterVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirmRegisterHandler('registerFormEle')">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 关于弹出框 -->
        <el-dialog title="关于本站" :visible.sync="dialogAboutVisible">
            <el-card shadow="hover">
                本站不是最便宜的，但售后是最好的！！！
            </el-card>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogAboutVisible = false">关 闭</el-button>
                <el-button type="primary" @click="dialogAboutVisible = false">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 帮助弹出框 -->
        <el-dialog title="联系方式" :visible.sync="dialogHelpVisible">
            <el-card shadow="hover">
                QQ:838472035
            </el-card>
            <el-card shadow="hover">
                邮箱:keepFur@163.com
            </el-card>
            <el-card shadow="hover">
                服务时间:9:00-22:00
            </el-card>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogHelpVisible = false">关 闭</el-button>
                <el-button type="primary" @click="dialogHelpVisible = false">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 更多公告弹出框 -->
        <el-dialog title="公告列表" :visible.sync="dialogMoreNoticeVisible">
            <el-collapse v-model="activeNames" accordion>
                <el-collapse-item title="一致性 Consistency" name="1">
                    <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                    <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                </el-collapse-item>
                <el-collapse-item title="反馈 Feedback" name="2">
                    <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                    <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                </el-collapse-item>
                <el-collapse-item title="效率 Efficiency" name="3">
                    <div>简化流程：设计简洁直观的操作流程；</div>
                    <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                    <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                </el-collapse-item>
                <el-collapse-item title="可控 Controllability" name="4">
                    <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                    <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                </el-collapse-item>
            </el-collapse>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogMoreNoticeVisible = false">关 闭</el-button>
                <el-button type="primary" @click="dialogMoreNoticeVisible = false">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 添加发件人地址弹出框 -->
        <el-dialog title="添加发件人地址" :visible.sync="dialogAddAddressVisible" width="30%" label-position="top">
            <el-form :model="addAddressForm" ref="addAddressFormEle" :rules="addAddressFormRules" status-icon>
                <el-form-item label="发件人姓名" prop="fromName">
                    <el-input v-model="addAddressForm.fromName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="发件人电话" prop="fromPhone">
                    <el-input v-model="addAddressForm.fromPhone" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="所在区域" prop="fromAddress">
                    <el-cascader :options="fromAddressInfo" style="width:100%;" size="small" expand-trigger="hover" v-model="addAddressForm.fromAddress">
                    </el-cascader>
                </el-form-item>
                <el-form-item label="详细地址" prop="fromDetailAddress">
                    <el-input v-model="addAddressForm.fromDetailAddress" auto-complete="off" placeholder="非必填"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogAddAddressVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirmAddFromAddressHandler('addAddressFormEle')">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 编辑发件人信息 -->
        <el-dialog title="编辑发件人地址" :visible.sync="dialogEditAddressVisible" width="30%" label-position="top">
            <el-form :model="editAddressForm" ref="editAddressFormEle" :rules="addAddressFormRules" status-icon>
                <el-form-item label="发件人姓名" prop="fromName">
                    <el-input v-model="editAddressForm.fromName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="发件人电话" prop="fromPhone">
                    <el-input v-model="editAddressForm.fromPhone" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="所在区域" prop="fromAddress">
                    <el-cascader :options="fromAddressInfo" separator="-" style="width:100%;" size="small" expand-trigger="hover" v-model="editAddressForm.fromAddress">
                    </el-cascader>
                </el-form-item>
                <el-form-item label="详细地址" prop="fromDetailAddress">
                    <el-input v-model="editAddressForm.fromDetailAddress" auto-complete="off" placeholder="非必填"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditAddressVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirmAddFromEditressHandler('editAddressFormEle')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" type="text/javascript"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcss.com/element-ui/2.3.8/index.js" type="text/javascript"></script>
<script src="./app.js" type="text/javascript"></script>

</html>